*,
html {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    font-family: serif, sans-serif;
    background: white;
    min-width: 1340px;

}

header {
    width: 100%;
    background-color: #222;
    /* position: fixed;*/
    z-index: 99999;

}

#logo-name {
    display: inline-block;
    font-size: 30px;
    /* font-weight: bold;*/
    font-family: 'Black Ops One', cursive;
    padding-right: 25px;
    line-height: 50px;

}

#main-nav {
    display: inline-block;
    background-color: #222;
    color: darkgrey;
    width: 70%;
    height: 50px;
    margin-left: 15%;
    margin-right: 25%;
    text-align: center;
    line-height: 50px;

}

#main-nav ul {
    display: inline-block;
}

#main-nav ul a {
    color: darkgray;
    text-decoration: none;
}

#main-nav ul li {
    display: inline-block;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bolder;
}

#main-nav ul li :hover {
    color: white;

}

#main-nav ul li i {
    padding-right: 3px;
}

#extra-nav {
    display: inline-block;
    background-color: black;
    color: darkgrey;
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 35px;
}

#free {
    color: white;
    width: 300px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    background-color: rgba(255, 153, 0, 0.6);
    transform: rotate(45deg);
    position: fixed;
    top: 50px;
    right: -60px;
    margin: 3px;
    border: solid 1px red/*phải để cái solid thụt vào*/
    ;
    z-index: 9999999;

}

#main-banner {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 600px;
    position: relative;
    text-align: center;
    overflow: hidden;
    position: relative;

}

/*#banner-cover{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 600px; 
  transition: all 1s;
background-color: rgba(26, 0, 0,0.2);
z-index:9999 ;
}
#banner-cover:hover{
 
    background-color: rgba(26, 0, 0,0);
}*/

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    transition: all 1s;
    text-align: center;
}

.banner span {
    display: block;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;


}

.banner-title {
    padding-top: 100px;
    font-size: 80px;
    line-height: 100px;
}

.banner-info {
    font-size: 20px;
    padding: 20px;
}

.banner-button {
    width: 250px;
    font-size: 20px;
    padding: 20px;
    border: 3px solid white;
    border-radius: 15px;
    margin-left: 40%;

}

.banner-button:hover {
    background-color: white;
    color: black;
}

#img1 {
    background-image: url(D:\BMAG\WEB- FrontEnd\ShopC\img\1111.jpg);
    background-size: cover;
    z-index: 999;
    animation-name: im;
    animation-duration: 16s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

#img2 {
    background-image: url(/img/Threecollars.jpg);
    background-size: cover;
    z-index: 99;
    animation-name: im;
    animation-duration: 16s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}

#img3 {
    background-image: url(/img/3333.jpg);
    background-size: cover;
    z-index: 9;
    animation-name: im;
    animation-duration: 16s;
    animation-delay: 8s;
    animation-iteration-count: infinite;
}

#img4 {
    background-image: url(/img/44444.jpg);
    background-size: cover;
    z-index: 1;
    animation-name: im;
    animation-duration: 16s;
    animation-delay: 12s;
    animation-iteration-count: infinite;
}

@keyframes im {
    0% {
        /* opacity: 0;*/
        transform: translateX(100%);
    }
    6.25% {
        /*opacity: 1;*/
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    31.25% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-100%);
    }

}

/*format for leashes*/

#kind {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    display: block;
    position: relative;
}

#kind span {
    display: block;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    line-height: 40px;


}

.product {
    display: inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 30px
}

.product img {
    width: 200px;
    height: 200px;
    position: absolute;
    top 0;
    left: 0;
}

.product .product-info {
    width: 200px;
    height: 200px;
    position: absolute;
    top 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    transition: all 1s ease;
    transform: translateY(100%)
}

.product .product-info span {
    font-size: 12px;
    text-align: center;
    /* line-height: 200px;*/
}

.product:hover .product-info {
    transform: translateY(0);
}


/*format for footer*/

footer {
    background: #333;
}

#brand {
    width: 100%;
    height: 200px;
    background-color: rgb(249, 244, 230) !important;
    text-align: center;
    z-index: 99999;
}

#brand-info {
    width: 60%;
    margin-left: 21%;
    z-index: 99999;
}

#brand-info img {
    vertical-align: middle;
    display: inline-block;
    width: 270px;
    padding: 30px;
    margin-top: 50px;

}

#footer-info {
    height: 250px;
    width: 60%;
    color: #f2f2f2;
    background: #333;
    padding-top: 15px;
    margin-left: 20%;
    /*    border: 1px solid white;*/
    font-family: 'Rajdhani', sans-serif;
}

#footer-info > div {
    display: inline-block;


}

#footer-info #category {
    width: 45%;
    /* border: 0.5px solid red;*/
}

.cate-div {
    display: inline-block;
    font-size: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.cate-div div {
    font-weight: bold;
}

.cate-div span {
    display: block;
    padding-top: 5px;
}

.cate-div span:hover {
    text-decoration: underline;
}

#footer-info #email {
    width: 35%;
    /* border: 0.5px solid red;*/
}

#quote,
#input {
    display: block;
}

#quote {
    margin-bottom: 15px;
    padding-left: 30px
}

#quote span {
    display: block;
    font-size: 20px;

}

#input {
    padding-left: 30px;
}

#input-email {
    height: 30px;
    width: 200px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 20px;
}

#join {
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 15px
}

#join:hover {
    background-color: white;
    color: black;
}

#footer-info #certi {
    float: right;
    transform: scale(0.7) translateY(-68px);
}

#license,
#icon {
    display: inline-block;
}

#license {
    margin-left: 50px;
    padding-right: 30px;
    margin-top: 30px
}

#license i {
    padding-right: 20px;
}

#icon {
    margin-left: 500px;
    font-size: 25px;
}

#icon i {
    padding-left: 10px;
}

#minhtan {
    margin-left: 30px;
    margin-top: 20px;
}
/*format for mission*/

#body-mission {
    background-color: rgba(249,244,230,0.5);
}
#body-mission > section {
    display: block;
}
.mission{
    height: 400px;
    width: 100%;
    margin-top: 30px;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 2px dotted black ;
    font-family: 'Poiret One', cursive;
    color: black; 


}
.mission h1 {
     font-size: 38px;
     font-weight: lighter;         
}
.mission >div {
   /* font-weight: bold; */
    font-size: 20px
}
#om-let{
    color: orange
}
#om-mess{
    font-weight: bolder;
}
#looking {
    height: 1000px;
}
#look-span {
    margin-top: 30px;
    font-size: 25px;
}
#main-frame {
    margin-top: 50px;
    width: 95%;
    height: 400px;
    border: 1px dotted black;
    border-radius: 30px;
}
#main-frame > div {
    display: inline-block;
}
#img-icon {
    width: 50%;
    height: 90%;
}
#img-icon img {
    margin: 30px;
    width: 80% ;
    height: 80%;
    border-radius: 15px;
    
}
#icon-in-mission{
     display: inline-block;
     margin-left: 100px;
}
#icon-in-mission i {
    display: inline-block;
    padding-left: 20px;
    font-size: 25px
}
#dog-info{
    height: 90%;
    width: 40%;
}
.title-info {
    font-size: 20px;
    font-weight: bolder;
    padding-top: 10px;
}
.detail {
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 10px;
}
#dog-quote {
    
    text-align: center;
    font-size: 15px;
    width: 100%;
}
#dog-quote h3 {
    font-weight: normal!important;
}
#mission-input{
    width: 100%;
    text-align: center;
    align-content: center;
}
#input-email-m{
    padding-left: 30px;
    margin: 30px;
    width: 500px;
    height: 50px;
    border: 2px solid orange;
    border-radius: 15px;
    background-color: transparent;
}
#join-m{
    display: block;
    border: 1px solid black;
    height: 50px;
    width: 80px;
    padding: 12px;
    border-radius: 15px;
    text-align: center;
    margin-left: 45%;
    font-weight: bold;
}
#join-m:hover{
    background-color: black;
    color: white;
}/*chưa được*/
/*----------------------FORMAT FOR CONTACT-----------------------*/
#body-contact{
    background-color: rgba(249,244,230,0.5);
}

#body-contact > section {
    display: block;
}
#contact-info {
    height: 1600px;
    width: 100%;
    margin-top: 30px;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 2px dotted black ;
    font-family: 'Poiret One', cursive;
    color: black; 
}
#contact-info h1 {
    font-size: 50px;
    font-weight: lighter;
    border-bottom: 1px solid black;
}
#contact-info span , input {
    display: block;
    margin-top: 20px;
 
}
.tilte-contact{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    
}
.in-contact {
    margin: 5px;
    padding: 5px;
    height: 50px;
    width: 70%;
    border: 1px solid balck;
    border-radius: 15px;
    background-color: transparent;
}
#ur-mess{
    height: 150px;
}
#send p , input {
    display: inline-block;
}
#send p{
    font-size: 25px;
    font-weight: bolder;
    
}
#send input {
      font-size: 25px;
     margin-left: 30px;
    height: 50px;
}
#send button {
    margin-top: 50px;
    margin-left: 50px;
    display: block;
    height: 40px;
    width: 80px;
    border: 2px solid #444;
    border-radius: 10px;
    color: white;
    background-color: #444;
}
#send button:hover {
     color: #444;
    background-color: white;
}
#trouble{
    text-align: center;
    margin-top: 30px;
}
#trouble h3{
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}
#trouble h5{
   
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 50px;
}
#dog-quote-contact{
    text-align: center;
    font-size: 15px;
    width: 100%;
}
#mission-input-contact{
     width: 100%;
    text-align: center;
    align-content: center;
}
#join-us{
    text-align: center;
    padding: 20px;
}
#join-us #j-u{
    display: block;
}
#join-us span {
    font-size: 20px;
    padding: 5px;
    display: inline-block;
}
#join-us a {
    display: inline-block;
    padding: 5px;
    text-decoration-line: underline;
    color: black;
    font-weight: bold;
}
/*-__-----------------------FORMAT FOR ABOUT -------------------------*/

#body-about{
    display: block;
    background: url(/img/bg_found_leash2.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 2500px;
    width: 100%;
}
#about-us{
    padding-left: 20%;
    padding-right: 20%;
    border: 1px solid red;
    width: 100%;
    height: 600px;
  background-color: rgba(249,244,230,1);
     border-bottom: 2px dotted black ;
    margin-bottom: 100px;
}
.about-sec{
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Poiret One', cursive;
    border-bottom: 2px dotted black ;
    margin-bottom: 100px;
}
#about-us div {
    height: 600px;
    width: 45%;
    display: inline-block;
    border: 0.5px solid red;
}
.abt-ma-div {
     margin-top: 50px;
    padding: 20px;
}
#abt-div span{
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
}
#abt-div p {

    padding: 20px;
    
    font-size: 17px;
    font-weight: normal;
}
#abt-img img {
    padding-top: 50px;
}
#Mater-Cons{
    width: 100%;
    height: 700px;
    background-color: rgba(249,244,230,0.9);
}
#mater-span {

    font-size: 50px;
   
}
#Mater-Cons h5 {
    font-size: 20px;
    padding-top: 10px;
}
.abt-ma-div{
    width: 30%;
    display: inline-block;
    height: 300px;
}
.abt-ma-img{
    width: 200px;
    height: 200px;
}
#design{
    width: 100%;
    height: 700px;
    background-color: rgba(249,244,230,1);
}
#design > h5 {
    font-size: 20px;
    margin-top: 30px;
}
.abt-ma-img1{
       width: 177px;
    height: 289px;
}
.abt-ma-p1{

    padding: 20px;
    
    font-size: 17px;
    font-weight: normal;
}
.abt-ma-div1
{   margin-top: 30px;
    width: 22.5%;
    display: inline-block;
    height: 300px;
}
#des-div
{   width: 100%;
    margin-top: 100px;
    text-align: left;
    padding-left: 100px;
    padding-right: 200px;
    font-weight: bold;
}